:root {
  /* Colors */
  --darkerGray: #767679;
  --darkGray: #999898;
  --lightGray: #b2b2b2;
  --lighterGray: #cbc7c7;
  --lightestGray: #dbd8d6;
  --lightesterGray: #f3f3f3;
  --white: #ffffff;
  --black: #000000;
  --orange: #feba12;
  --red: #ec1c24;

  /* Theme Vars */
  --textColor: var(--darkerGray);
  --primaryColor: var(--red);
  --secondaryColor: var(--orange);
  --bgColor: var(--white);
  --lineColor: var(--lightestGray);

  /* Misc Sizes */
  --baseMargin: 6rem;
  --smallBaseMargin: 2rem;
  --halfMargin: 1rem;
  --margins: 6rem 0 2rem;

  --basePadding: 2.4rem;
  --baseSectionPadding: 6rem;
  --topSectionPadding: 0rem;
  --bottomSectionPadding: 4rem;
  --headerPadding: 4.8rem;

  --cardPadding: 1.6rem;
  --cardRadius: 3px;

  --inputRadius: 6px;
  --buttonRadius: 4rem;

  --headerHeight: 70px;

  /* Z-Index */
  --headerLevel: 10;
  --highestLevel: 100;

  /* Elevation */
  --elevation-0: inset 6px 0 5px -6px rgba(0, 0, 0, 0.7);
  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-3: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  --elevation-4: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  --left-elevation: -6px 0 6px rgba(0, 0, 0, 0.16),
    -6px 0 6px rgba(0, 0, 0, 0.23);
  --right-elevation: 6px 0 6px rgba(0, 0, 0, 0.16),
    6px 0 6px rgba(0, 0, 0, 0.23);
  --top-elevation: 0px -3px 5px rgba(0, 0, 0, 0.15);

  /* Fonts */
  --baseFontSize: 1.6rem;
  --smallFontSize: 1.4rem;
  --smallestFontSize: 1.2rem;
  --largestFontSize: 2.1rem;
  --largeFontSize: 1.8rem;
  --heading-one: 4.8rem;
  --heading-two: 3.6rem;
  --heading-three: 2.7rem;
  --heading-four: 2.4rem;
  --heading-five: var(--largeFontSize);
  --heading-six: var(--baseFontSize);

  --headingFont: "Roboto", arial, sans-serif;
  --bodyFont: var(--headingFont);
}

/* Change root sizes above medium breakpoint */
@media (min-width: 880px) {
  :root {
    --heading-one: 6.4rem;
    --margins: 8rem 0 2rem;
    --topSectionPadding: 7rem;
    --bottomSectionPadding: 12.5rem;
    --baseSectionPadding: 15rem;
    --baseMargin: 8rem;
    --basePadding: 3rem;
    --cardPadding: 2.4rem;
    --headerHeight: 125px;
  }
}
